body {
  margin: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 30px);
}
.CX2 .agenda .eventSub {
  display: none;
}
.CX2 .daily .fullday .eventTime {
  display: none;
}
.CX2 .slot .event {
  background: inherit;
}
.CX2 .slot .slotHeader {
  background-color: inherit;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #666;
  line-height: 15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #999;
}
.CX2 .today .slotHeader * {
  color: inherit;
}
.CX2 .event.fullday {
  color: inherit;
}
.CX2 .slot .slotFooter {
  display: none;
}
.CX2 .event[data-calendar-name="cal1"],
.CX2 .event[data-calendar-name="cal2"] {
  border-left: #3f51b5 solid;
}
.CX2 .event[data-calendar-name="cal3"],
.CX2 .event[data-calendar-name="cal4"] {
  border-left: #c632ff solid;
}
.CX2 .event[data-calendar-name="cal5"],
.CX2 .event[data-calendar-name="cal6"] {
  border-left: #0b8043 solid;
}
